name: Code quality
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  check_code_quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: 'poetry'
    - name: Install dependencies
      run: |
        python -m pip install nox_poetry
    - name: Assess code quality
      run: nox -s style_checking

  doc_quality:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install poetry
      run: pipx install poetry
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
        cache: 'poetry'
    - name: Install dependencies
      run: |
        python -m pip install nox_poetry
        poetry install -v
    - name: Check doc quality
      run: |
        nox -s build_docs
